*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar rect {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#yearSlider {
    width: 45%;
}

body {
  padding-top: 50px;
}
 

